extends ../layout

block content

  #login
    .login_notice
    form(id="login-form", method="post", action="/user/login")
      h1="Login"
      fieldset.inputs
        #email
          input(type="text", name="email", placeholder="Email", autofocus, required)
        #password
          input(type="password", name="password", placeholder="Password", required)
      fieldset.actions
        div
          button(type="submit", id="login-submit", data-doing="Logining..." ) Login
  script(type="text/javascript", src="/javascripts/login.js")