* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
::selection {
  background: #B5DBDC;
  color: #fff;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  color: #777;
}
body a {
  text-decoration: none;
}
.content {
  margin-left: 80px;
  width: 900px;
  margin-bottom: 80px;
}
.content #logo {
  margin-top: 180px;
  margin-bottom: 180px;
  margin-left: 80px;
  padding-left: 40px;
  width: 440px;
  border-left: 1px dotted #eee;
  -webkit-font-smoothing: antialiased;
}
.content #logo #logo-name {
  display: block;
  font: 400 60px 'Roboto Condensed', sans-serif;
  color: #353535;
  width: 100%;
}
.content #logo #logo-description {
  position: relative;
  top: -5px;
  font: 100 60px 'Roboto Condensed', sans-serif;
  color: #cecece;
  line-height: .95;
}
.content .nav {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 100;
}
.content .nav a {
  font-size: 15px;
  color: #7B838A;
  margin: 0 5px;
  padding-right: 15px;
  border-right: 1px dotted #eee;
}
.content .nav a:last-child {
  border-right: none;
}
body.inner header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 55px;
  z-index: 100;
}
body.inner #logo {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px 25px;
  width: auto;
  border-left: none;
}
body.inner #logo #logo-name {
  font-size: 25px;
}
body.inner #logo #logo-description {
  display: none;
}
.footer {
  border-top: 1px dotted #eee;
  text-align: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
